
body,
#root{
  width: 100%;
  background-color: #7298F8;
}

.App{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button{
  cursor: pointer;
}

.myBtnHolder{
  width: 100%;
  text-align: center;
}

#myBtn,
#switchNetworkBtn{
    padding: 15px 26px;
    background: #AF52DE;
    border: none;
    border-radius: 8px;
    line-height: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.walletModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.walletModalContent{
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.walletModalContent button{
  background-color: #ffffff;
  width: 50%;
  padding: 70px 20px 30px 20px;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
}

.walletModalContent button.MetaMask{
  background: url(./metamask-icon.svg) top center no-repeat;
  background-size: 60px auto;
}

.walletModalContent button.WalletConnect{
  background: url(./walletconnect-icon.svg) top center no-repeat;
  background-size: 60px auto;
}

.walletModalContent button.CoinbaseWallet{
  background: url(./coinbase-icon.svg) top center no-repeat;
  background-size: 55px auto;
}

.walletModalContent button.Injected{
  background: url(./injected-icon.svg) top center no-repeat;
  background-size: 50px auto;
}

.walletModalContent button.unsupported{
  display: none !important;
}

.walletModalClose{
  position: absolute;
  right: -23px;
  top: -23px;
  width: 27px !important;
  height: 27px !important;
  padding:0 !important;
  background: url(./close-icon.svg) center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  text-indent: -9999px;
  background-color:#ffffff;
  border: 5px solid #ffffff !important;
}

.walletModal.walletModalSwith .walletModalContent{
  width: 20%;
}

.walletModal.walletModalSwith .walletModalContent h2{
  width: 100%;
  margin: 0 0 25px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
}

.walletModal.walletModalSwith .walletModalContent p{
  width: 100%;
  margin: 0 0 25px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
  color: rgba(60, 66, 66, 0.6);
}

.walletModal.walletModalSwith .walletModalContent .walletModalButtons{
  width: 100%;
}

.walletModal.walletModalSwith .walletModalContent button{
  padding: 10px;
  margin: 0 0 15px 0;
  width: 100%;
  text-align: left;
  border-radius: 10px;
}

.walletModal.walletModalSwith .walletModalContent button:hover,
.walletModal.walletModalSwith .walletModalContent button.btnEtheruem:hover,
.walletModal.walletModalSwith .walletModalContent button.btnDisconnect:hover{
  background-color: rgba(60, 66, 66, 0.1);;
}

.walletModal.walletModalSwith .walletModalContent button.btnEtheruem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  background: url(./eth-icon.svg) 5px center no-repeat;
}

.walletModal.walletModalSwith .walletModalContent button.btnEtheruem span{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(37, 41, 46, 1);
}

.walletModal.walletModalSwith .walletModalContent button.btnDisconnect{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  background: url(./disconnect-icon.svg) 5px center no-repeat;
  color: red;
}

/* Profile button */
.profileHolder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileHolder .connectButtonName{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 0;
  padding: 7px 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 64px;
  background: #FFFFFF;
  line-height: 20px;
  color: #ffffff;
}

.profileHolder .connectButtonName .imageHolder {
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  overflow: hidden;
}

.profileHolder .connectButtonName .imageHolder img {
  width: 36px;
  height: 36px;
}

.profileHolder .connectButtonName .name {
  padding: 0 5px 0 0;
  font-family: 'Satoshi-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on, 'ss03' on, 'ss04' on;
  color: #323232;
}

.profileHolder .connectButtonName .subname {
  padding: 0 5px 0 0;
  font-family: 'Satoshi-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.875rem;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on, 'ss03' on, 'ss04' on;
  color: #323232;
  opacity: 0.4;
}

.hidden{
  display: none;
}

.walletModal.profileModal .walletModalContent{
  width: 370px;
}

.walletModal.profileModal .walletModalContent .imageHolder{
  width: 100%;
  margin: 0 0 15px 0;
  text-align: center;
}

.walletModal.profileModal .walletModalContent img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.walletModal.profileModal .walletModalContent .names{
  width: 100%;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  text-align: center;
}

.walletModal.profileModal .walletModalContent .buttonsHolder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.walletModal.profileModal .walletModalContent .buttonsHolder button{
  width: 100%;
  padding: 10px 15px;
  margin: 0 5px;
  background: #ffffff;
  border: 1px solid #323232;
  border-radius: 10px;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}

.walletModal.profileModal .walletModalContent .buttonsHolder button.btnCopy{
  padding: 35px 15px 10px 15px;
  background: url(./copy-icon.svg) center 9px no-repeat;
  background-size: 20px 20px;
}

.walletModal.profileModal .walletModalContent .buttonsHolder button.btnDisconnect{
  padding: 35px 15px 10px 15px;
  background: url(./exit-icon.svg) center 9px no-repeat;
  background-size: 20px 20px;
}

.walletModal.profileModal .walletModalContent .buttonsHolder button:hover{
  background-color: rgba(60, 66, 66, 0.1);
}


/* Mobile screens */
.mobile .walletModalContent{
  padding-top: 40px;
}

.mobile .walletModalContent button{
    width: 100%;
  }

.mobile .walletModalContent{
  width: 70%;
}

.mobile .walletModal.walletModalSwith .walletModalContent{
  width: 70%;
}

.mobile .walletModal.profileModal .walletModalContent{
  width: 70%;
}